* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  background-color: burlywood;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
}

div > h1 {
  font-size: 3em;
}

.addBook {
  margin: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.booksContainer {
  display: grid;
  gap: 20px;

  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.bookCard {
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  min-width: 300px;
}

.readContainer {
  color: rgb(126, 96, 42);
  display: flex;
  gap: 10px;
}

.svgIcon {
  width: 30px;
  height: 30px;

  cursor: pointer;
}
.bookModal {
  /* background-color: antiquewhite; */
  border-radius: 6px;

  position: absolute;
  margin: auto;
  margin-top: 20%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

form > * {
  font-size: 2em;
}
form > * input {
  font-size: 1em;
}

form > div {
  display: flex;
  justify-content: space-between;

  margin: 10px;
  gap: 10px;
}
form > .cancelAddBtns {
  justify-content: center;
  margin: 10px;
}
form > .cancelAddBtns > button {
  font-size: 0.6em;
  width: 90px;

  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.readAddContainer {
  justify-content: center;
  align-items: center;

  color: rgb(126, 96, 42);

  margin: 20px;
}
