* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
}

div > h1 {
  font-size: 3em;
}

.addBook {
  margin: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.booksContainer {
  display: grid;
  gap: 20px;

  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.bookCard {
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  min-width: 300px;
}

.readContainer {
  color: rgb(126, 96, 42);
  display: flex;
  gap: 10px;
}

.svgIcon {
  width: 30px;
  height: 30px;

  cursor: pointer;
}
